/*fonts*/
@font-face {
    font-family: "sklsrc";
    src: url(../fonts/slkscr.ttf);
}

/*html*/
body {
	padding: 1em;
	max-width: 2000px;
	margin: auto;
	font-family: "Source Serif Pro";	
	line-height: 1.4em;
	color: var(--fg-color);
	background-color: black;
	background-image: url(https://bestanimations.com/media/stars/1594754744tumblr_ovz82fgWx91vsjcxvo1_500.gif);
	color: White;
	font-family: "sklsrc";

}

a {
	color:purple;
}

.box1 {
	align: center;
	border-radius: 5px;
	background-color: white;
	opacity: .5;
	width: 600px;
	height: 550px;
}

header h1 span {
    color:  #ff66a3;
}